{% extends "trade/base.html" %}
{% load static %}
{% block content %}
	<h2>アカウント一覧</h2>
	<table class="table">
	<tr class="table__head">
		<th>アカウント番号</th>
		<th>口座番号</th>
		<th>口座パス</th>
		<th>状況</th>
		<th>登録日</th>
		<th>最終ログイン</th>
		<th>コメント</th>
		<th></th>
	</tr>
    {% for item in account_list %}
    <tr class="table__item-{{ item.active }}">
        <td>{{ item.account_id }}</td>
		<td>{{ item.account_num }}</td>
		<td>{{ item.account_pass }}</td>
		<td>{{ item.get_active_display }}</td>
		<td>{{ item.post_time|date:"Y-m-j" }}</td>
		<td>{{ item.last_login|date:"Y-m-j" }}</td>
		<td>{{ item.comment }}</td>
		<td><a href="{% url 'trade:edit' pk=item.id %}">編集</a></td>
    </tr>
    {% endfor %}
	</table>
	<div class="new"><a href="{% url 'trade:create' %}">新規</a></div>
	<style type="text/css">
		a{
			color:#000;
		}
		.table{
			margin-top: 50px;
			    white-space: pre;
		}
		.table__item-A{
			color: #007bff;
		}
		.table__item-B{
			color: #FF69A3;
		}
		.table__item-C{
			opacity: 0.3;
		}
		.new{
			margin-top: 50px;
		}
	</style>

{% endblock %}