{% extends "trade/base.html" %}
{% load static %}
{% block content %}
	<div class="accounts_container">
  		<form method="post" novalidate>
  			{% csrf_token %}
  			<input type="hidden" name="next" value="{{ next }}">
  			{% include 'trade/form.html' %}
  			<button type="submit" class="btn btn-primary btn-block">送信</button>
  		</form>
	</div>

	{% if edit in request.path %}
	<div class="accounts_container">
  		<a href="{% url 'trade:delete' %}"><button type="submit" class="btn btn-primary btn-block" style="background-color: magenta;">削除</button></a>
	</div>
	{% endif %}
{% endblock %}