{% extends "trade/base.html" %}
{% load static %}
{% block content %}
<div class="select">
	<a href="{% url 'trade:account' %}"><div class="select__account"><p>アカウント一覧</p></div></a>
	<a href="{% url 'trade:trades' %}"><div class="select__trade"><p>トレード一覧</p></div></a>
</div>
<style type="text/css">
	.container mt-3{
		height: calc(100vh - 1rem);
		position: relative;
	}
	.select{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
	}
	.select__account,
	.select__trade{
		border: 1px solid #000;
		border-radius: 20px;
		margin:20px;
		white-space: nowrap;
		position: relative;
		height: 400px;
		width: 400px;
	}
	.select__account p,
	.select__trade p{
		position: absolute;
		top:50%;
		left: 50%;
		font-size: 20px;
		transform: translate(-50%, -50%);
	}
	@media screen and (max-width: 480px){
		.select{
			display: block;
		}
		.select__account,
		.select__trade{
			height: 200px;
			width: 200px;
		}
	}
	</style>
{% endblock %}