{% extends "trade/base.html" %}
{% load static %}
{% block content %}
<div class="select">
	<div class="select__list">
		<a href="{% url 'trade:account' %}"><div class="select__list__account">アカウント一覧</div></a>
		<a href="{% url 'trade:trades' %}"><div class="select__list__trade">トレード一覧</div></a>
	</div>
</div>
<style type="text/css">
	.container mt-3{
		margin: 0 !important;
	}
	.select{
		position: relative;
		height: 100vh;
	}
	.select__list{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
	}
	.select__list__account,
	.select__list__trade{
		border: 1px solid #000;
		padding: 100px 100px;
		border-radius: 20px;
		margin:20px;
	}
</style>
{% endblock %}