{% extends "trade/base.html" %}
{% load static %}
{% block content %}
<div class="select__list">
	<div class="select__list__account"><a href="{% url 'trade:account' %}">アカウント一覧</a></div>
	<div class="select__list__trade"><a href="{% url 'trade:trades' %}">トレード一覧</a></div>
</div>
<style type="text/css">
	.select__list{
		display: flex;
	}
	.select__list__account,
	.select__list__trade{
		border: 1px solid #000;
		padding: 50px 100px;
		border-radius: 20px;
		margin:20px;
	}
</style>
{% endblock %}